.drumkit {
    background-image: url('../images/drumkit.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}

.key {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    font-size: 14px;
    transition: all .08s ease;
    text-align: center;
}

kbd {
    display: block;
    font-size: 22px;
    font-weight: 600;
}

.keyletter,
.sound {
    text-shadow: 1px 1px 2px #ffffff;
}

.hihat,
.openhat,
.crash,
.snare,
.kick,
.s-tom,
.l-tom,
.ride,
.boom {
    position: absolute;
}

.hihat {
    background: rgba(26, 188, 156, 0.6);
    left: 26%;
    top: 32%;
}

.openhat {
    background: rgba(39, 174, 96, 0.6);
    left: 31%;
    top: 26%;
}

.crash {
    background: rgba(52, 152, 219, 0.6);
    left: 40%;
    top: 11%;
}

.snare {
    background: rgba(241, 196, 15, 0.6);
    left: 43%;
    top: 41%;
}

.kick {
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    bottom: 33%;
}

.s-tom {
    background: rgba(230, 126, 34, 0.6);
    left: 45%;
    top: 28%;
}

.l-tom {
    background: rgba(231, 76, 60, 0.6);
    right: 41%;
    top: 28%;
}

.ride {
    background: rgba(155, 89, 182, 0.6);
    right: 30%;
    top: 17%; 
}

.boom {
    background: rgba(131, 214, 222, 0.6);
    right: 34%;
    top: 43%;
}

.playing {
    transform : scale(1.2);
    border-color: #F9BF3B;
}
